.navigation {

    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        display: inline-block;
        position: fixed;
        top: 5.5rem;
        right: 5.5rem;
        border-radius: 50%;
        z-index: 20;
        box-shadow: 0 1rem 3rem rgba($color-black ,0.1);
        cursor: pointer;

    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        background-image: radial-gradient($primary-color-light ,$primary-color-dark);
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 10;
        transition: all  .8s cubic-bezier(0.83, 0, 0.17, 1);
        // transform: scale(80);

        // &:hover {
        //     transform: scale(80);
        //     cursor: pointer;
        // }
    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 15;
        opacity: 0;
        width: 0;
        transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    &__list {
        list-style: none;
        @include center_element;
        text-align: center;
    }

    &__item {

        margin: 1rem;
    }
    &__link {

        &:link ,
        &:visited {
            text-decoration: none;
            font-size: 3rem;
            font-weight: 300;
            color: $color-white;
            text-transform: uppercase;
            background-image: linear-gradient(120deg ,transparent 0% ,transparent 50% ,$color-white 50%);
            background-size: 250%;
            transition: all .4s;
            display: inline-block;
            padding: 1rem 2rem;
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-black;
            transform: translateX(1rem);
        }

        span {
            margin-right: 1rem;
            display: inline-block;
        }
    }

    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }
}